<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqkvlorAhrK9i39gh_TH-PYzPBiSeXKEI</string>
	<key>GCM_SENDER_ID</key>
	<string>259162808737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stateChangeDemo</string>
	<key>PROJECT_ID</key>
	<string>basanal-firebase-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>basanal-firebase-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259162808737:ios:eaa03ef678ba01713a6be0</string>
</dict>
</plist>